/* TODO:
 set side bar protfolio links to min height as well
 */

/* Font Face
---------------------------------- */

@font-face {
  font-family: 'Cinzel';
  src: url('../assets/fonts/Cinzel/Cinzel-Bold.ttf');
}

@font-face {
  font-family: 'Cinzel Light';
  src: url('../assets/fonts/Cinzel/Cinzel-Regular.ttf');
}

@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/Lato/Lato-Light.ttf');
}

@font-face {
  font-family: 'Adobe Clean';
  src: url('../assets/fonts/AdobeClean-Bold.ttf');
}


/* GLOBAL STYLES
---------------------------------- */

html {
  box-sizing: border-box;
  background-image: url(../assets/images/backdrop.jpg);
  background-size: 100% 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* Standard fonts ---------------------- */ 
h1 {
  font-family: 'Cinzel', serif;
  font-size: 4.25em;
  line-height: 1em;
  margin: 0;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  letter-spacing: 0.6em;
  font-weight: 200;
  margin: 0 0 0 0.35em;
}

h4 {
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.03em;
  font-size: 1em;
  font-weight: 300;
  margin: 0.35em 0 1em 0.35em;
}

h6 {
  margin: 0
}

/* First section ---------------------- */
section.page {
  height: 100vh;
  min-height: 29em;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

div.title {
  position: absolute;
  top: 50%;
  left: 18%;
  z-index: 4;
  transform: translate(0%, -50%);
}


div.info {
  position: absolute;
  top: 50%;
  left: 66.6%;
  transform: translate(-50%, -50%);
}

/* Right side bar ---------------------------------- */
.icon-logo {
  position: fixed;
  top: 3em;
  left: 5%;
  transition: all 0.3s ease-out;
}

img.logo {
  height: 4em;
}

a {
  display: block;
  margin: 5em 0;
  color: black;
}

li {
  list-style: none;
}

.portfolio-links {
  position: fixed;
  top: 50%;
  left: 5.5%;
  transform: translateY(-50%);
  z-index: 5;
  transform: all 0.4s ease-out;
}

.portfolio-links i:hover {
  cursor: pointer;
}

/* Scroll button -------------------------- */
.scroll-down-btn {
  position: fixed;
  transform: rotate(90deg);
  bottom: 35%;
  right: -3%;
  z-index: 10;
  transition: opacity 0.3s ease-out;
}

h3.scroll {
  font-family: 'Lato', sans-serif;
  font-size: 0.8em;
  letter-spacing: 0.4em;
  font-weight: 300;
  margin: 0 0 0 0;
  transition: all 0.4s ease-out;
}


h3:after {
  content: '';
  display: inline-block;
  background: black;
  width: 9em;
  height: 0.1em;
  position: relative;
  left: 1em;
  bottom: 0.3em;
}


img.athena-mural {
  height: 43em;
}



.project {
  cursor: pointer;
  background: #f8f8f8;
  height: 8em;
  width: 20em;
  margin: 3em 0;
  border-radius: 0.8em;
  position: relative;
  transition: transform 0.4s ease-out;
  overflow: hidden;
}

.project:hover {
  transform: scale(1.05);
}


.project-title {
  cursor: pointer;
  z-index: 2;
  font-family: 'Cinzel', serif;
  font-size: 1em;
  color: #b4b4b4;
  letter-spacing: 0em;
  margin: 0em 0 0 0.35em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 0 0 2em;
  transition: all 0.3s ease-out;
}

.project:hover .project-title {
  font-size: 1.1em;
  color: white;
  letter-spacing: 0.2em;
  /* text-shadow: 0em 0.5em 2em #000000; */
}

.project-num {
  cursor: pointer;
  z-index: 1;
  font-family: 'Roboto', sans-serif;
  font-size: 0.4;
  font-weight: 300;
  color: #b4b4b4;
  position: absolute;
  top: 12%;
  right: 5%;
  margin: 0;
  transition: 0.4s cubic-bezier(0, 0, 0, 0.99);
}

.project-preview {
  cursor: pointer;
  z-index: 0;
  height: 9em;
  position: absolute;
  top: -5%;
  left: -5%;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.3s ease;
}

.project:hover .project-preview {
  z-index: 0;
  height: 9em;
  position: absolute;
  top: -5%;
  left: -5%;
  transform: translateX(0);
  opacity: 90;
}

.project:hover .project-num {
  z-index: 1;
  font-family: 'Roboto', sans-serif;
  font-size: 12em;
  font-weight: 900;
  color: #ffffff;
  top: -34%;
  right: 0%;
  opacity: 0.1;
}


.skill-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1.75em;
  margin: 1.4em 0 4em;
}

.skill {
  position: relative;
  height: 4.75em;
  width: 4.75em;
  border-radius: 50%;
  background: #f8f8f8;
  transition: all 0.4s ease-out
}

.skill i, .skill h6 {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #b4b4b4;
  font-size: 1.75em;
  transform: translate(-50%, -45%);
}

div.info.skills {
  position: absolute;
  top: 50%;
  left: 66.6%;
  transform: translate(-50%, -50%);
}

.skill:hover {
  cursor: pointer;
  transform: scale(1.05);
}

h6.photoshop, h6.Ai, h6.Xd {
  font-family: 'Adobe Clean', sans-serif;
}



h6.Clang {
  font-family: 'Helvetica', sans-serif;
  font-weight: black;
}

.skill.HTML:hover {
  background: #ff1414;
}

.skill.HTML:hover i {
  color: white;
}

.skill.CSS:hover {
  background: #14b9ff;
}

.skill.CSS:hover i {
  color: white;
}

.skill.Javascript:hover {
  background: #f0db4f;
}

.skill.Javascript:hover i {
  color: #323330;
}

.skill.React:hover {
  background: #14d4ff;
}

.skill.React:hover i {
  color: white;
}

.skill.SASS:hover {
  background: #ff90d1;
}

.skill.SASS:hover i {
  color: white;
}

.skill.Photoshop:hover {
  background: #001d26;
}

.skill.Photoshop:hover h6 {
  color: #00c8ff;
}

.skill.Node:hover {
  background: #303030;
}

.skill.Node:hover i {
  color: #52c14f;
}

.skill.Java:hover {
  background: #ff1414;
}

.skill.Java:hover i {
  color: white;
}

.skill.C:hover {
  background: #a9bac4;
}

.skill.C:hover h6 {
  color: white;
}

.skill.Python:hover {
  background: #008cff;
}

.skill.Python:hover i {
  color: white;
}

.skill.Illustrator:hover {
  background-color: #251300;
}

.skill.Illustrator:hover h6 {
  color: #fe7c00;
}

.skill.Xd:hover {
  background-color: #272323;
}

.skill.Xd:hover h6 {
  color: #ff00c9;
}



strong {
  transition: all 0.5s ease-out;
  opacity: 0;
  margin-left: 0.5em;
}

.btn {
  color: black;
  display: inline-block;
  padding: 0.75em 2em 0.8em;
  margin: 1.25em 1em 0 -0.1em;
  background: #f2f2f2;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  border-radius: 2em;
  transition: background-color 0.4s ease-out;
  text-align: center;
}


.btn:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

p {
  font-family: 'Roboto', sans-serif;
  line-height: 1.3em;
}


@media (max-width: 1030px) {
  section.page {
    height: 100vh;
    min-height: 29em;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  
  div.title {
    position: relative;
    top: 45vh;
    left: 0%;
    z-index: 4;
  }
  
  div.info.athena {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  img.athena-mural {
    height: 45em;
    opacity: 0.5;
  }

  /* Standard fonts ---------------------- */ 
  h1 {
    font-size: 3.25em;
    line-height: 1em;
    text-align: center;
    margin: 0;
  }

  h2.subtitle {
    font-size: 1em;
    letter-spacing: 0.3em;
    font-weight: 200;
    text-align: center;
    margin: 0 0 0 0.35em;
  }

  h4.subtitle {
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.03em;
    font-size: 1em;
    font-weight: 300;
    text-align: center;
    margin: 0.35em 0 1em 0.35em;
  }
    
  

  /* Right side bar ---------------------------------- */
  .icon-logo {
    position: fixed;
    top: 2.8em;
    left: 5%;
    transition: all 0.3s ease-out;
  }

  img.logo {
    height: 4em;
  }

  li {
    list-style: none;
  }

  .portfolio-links {
    position: fixed;
    left: 6%;
    transform: translateY(0%);
    z-index: 5;
  }

  .portfolio-links i:hover {
    cursor: pointer;
  }
    
  /* Scroll button -------------------------- */
  .scroll-down-btn {
    position: fixed;
    transform: rotate(90deg);
    bottom: 30%;
    right: -12%;
    z-index: 10;
    transition: opacity 0.3s ease-out;
  }

  h3.scroll {
    font-family: 'Lato', sans-serif;
    font-size: 0.8em;
    letter-spacing: 0.4em;
    font-weight: 300;
    margin: 0 0 0 0;
    transition: all 0.4s ease-out;
  }


  h3:after {
    content: '';
    display: inline-block;
    background: black;
    width: 9em;
    height: 0.1em;
    position: relative;
    left: 1em;
    bottom: 0.3em;
  }

  div.info.projects {
    position: absolute;
    top: 35%;
    left: 50vw;
    transform: translate(-50%, 0%);
    z-index: 10;
  }

  div.info.skills {
    position: absolute;
    top: 45%;
    left: 50vw;
    transform: translate(-50%, 0%);
    z-index: 10;
  }

  div.info.about {
    position: absolute;
    top: 45%;
    left: 50vw;
    min-width: 24em;
    max-width: 30em;
    transform: translate(-50%, 0%);
    z-index: 10;
  }


}